GOOGLE_GENERATIVE_AI_API_KEY="*************************************"

# chat persistence -- sign up on cloud.assistant-ui.com
# NEXT_PUBLIC_ASSISTANT_BASE_URL=

# LangSmith Observability Configuration
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="*******************************************"
LANGSMITH_PROJECT="pr-warmhearted-jewellery-74"