# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

.mastra/outputs/playground/**/*
.mastra/outputs/playground/**/*.js
.mastra/outputs/playground/assets/**/*
.mastra/outputs/playground/assets/**/*.js
# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local
gcp-vertexai-credentials.json
.env
.env.development
.mastra
.vscode
prod-ca-2021.crt
openapi.json
.windsurfrules
.vercel
.repomix
llm.txt
llm-full.txt
sleeptimecompute.md
pattrns.md
general-tools.md
Agent-Fails.md
*.db
*.db-shm
*.db-wal
mcp.md
mcp-svr.md
repomix-output.md
codeviz-diagram-2025-04-28T13-11-52.drawio